/*footer listo*/
@media screen and (min-width: 991px) {
    .feature-content {
      display: flex;
      align-items: center;
    }
  }
  
  .feature-alt {
    background: #E8DED5;
  }
  
  #feature-four .feature-content {
    padding: 0;
  }
  
  #feature-five {
    margin-top: 2rem;
  }
  
  #main-footer {
    background: #262f36;
    color: #fff;
    padding: 6rem 0;
    font-size: 0.8rem;
  }
  
  #main-footer h6 {
    color: #718FA9;
  }
  
  #main-footer a {
    color: #6c6f73;
  }