<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/style/footer.css">
</head>

<body>

  <!--listo footer-->
  <footer id="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 SL-SOFT</p>
          <p>
            SL-SOFT es una empresa reconocida a nivel nacional en Colombia por la venta de sus mejores atuendos siempre a la moda, destacándose por su innovación.
          </p>
        </div>
        <div class="col-md-3">
          <a href="/v1/sl-catalogo"><h6>Catalogo</h6></a>
        </div>
        <div class="col-md-3">
          <a href="/v1/sl-ropa"><h6>inico</h6></a>
        </div>
      </div>
    </div>
  </footer>
  
</body>

</html>